*.are -crlf -diff -merge
*.bam -crlf -diff -merge
*.cre -crlf -diff -merge
*.eff -crlf -diff -merge
*.itm -crlf -diff -merge
*.pro -crlf -diff -merge
*.spl -crlf -diff -merge
*.vvc -crlf -diff -merge
*.wav -crlf -diff -merge
*.ogg -crlf -diff -merge
*.tiz -crlf -diff -merge
*.rtf -crlf -diff -merge
*.jpg -crlf -diff -merge
*.gif -crlf -diff -merge
*.doc -crlf -diff -merge
*.add -crlf -diff -merge
